<div class="container w-50">
    <h2 class="text-center">Change password</h2>
    <hr class="colorgraph">
    <div class="form-row mb-3">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" id="password" name="password" placeholder="Current password" required>
    </div>
    <div class="form-row mb-3">
        <label for="newpassword">New password</label>
        <input type="password" [(ngModel)]="newPassword" class="form-control" id="newpassword" name="newpassword" placeholder="New password" required>
    </div>
    <div class="form-row mb-3">
        <label for="newpasswordrepeat">Repeat new password</label>
        <input type="password" [(ngModel)]="repeatNewPassword" class="form-control" id="newpasswordrepeat" name="newpasswordrepeat" placeholder="Repeat new password" required>
    </div>
    <div class="form-row mb-3 text-center">
        <button class="btn btn-primary col-md-4 offset-md-4 mb-3" type="submit" (click)="changePassword()">Submit </button>
    </div>
</div>