<h1 mat-dialog-title>Choose color</h1>    
<mat-dialog-actions>  
    <button class="btn btn-primary" mat-raised-button mat-dialog-close mat-dialog-close="Green">Green</button>  
    <button class="btn btn-primary" mat-raised-button mat-dialog-close mat-dialog-close="Yellow">Yellow</button>  
    <button class="btn btn-primary" mat-raised-button mat-dialog-close mat-dialog-close="Blue">Blue</button>  
    <button class="btn btn-primary" mat-raised-button mat-dialog-close mat-dialog-close="Red">Red</button>  
</mat-dialog-actions>