#left {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}

#right {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

#field {
    width: 600px;
    height: 400px;
    background-color: #00b3b3;
}