#field {
    position: relative;
    width: 400px;
    height: 400px;
    /* background-color: #00b3b3; */
}

.col-centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
#gameCanvas {
   position: absolute;
   top: 144px;
   /* left:120px; */
   padding-right: 144px;
   /* left: 50px;   */
}
#deck {
    position: absolute;
    top: 144px;
    padding-left: 145px;
    /* left: 100px;   */
 }

 #playerOnTurn {
    position: absolute;
    top: 350px;
    padding-left: 120px;
    /* left: 100px;   */
 }

 
