<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="text-center container">
            <div class="mx-auto p-1">
                <button class="btn btn-success btn-sm" (click)="connect()" *ngIf="!userConnected()">Connect</button>
                <button class="btn btn-danger btn-sm" (click)="disconnect()" *ngIf="userConnected()">Disconnect</button>
                <button class="btn btn-success btn-sm" (click)="startGame()" *ngIf="userConnected() && getUsername() && !checkIfGameStarted()">Start Game</button>
            </div>
            <!-- #gameBoardColor -->
            <div class="row mx-auto text-center" id="field" *ngIf="checkIfGameStarted()" #gameBoardColor>    
                <img src="../../../assets/uno_table.png" width="400px" height="400px" >
                <div id="hexagon"></div>
                <div id="gameCanvas" class="col" #gameCanvas></div>
                <div id="deck" class="col" #deck></div>
                <div id="playerOnTurn" *ngIf="checkIfGameStarted()">
                    <label for="playerOnTurn" class="text-white">Player on turn: {{ getPlayerOnTurn() }}</label>
                </div>
            </div>
            <div class="row mx-auto w-75 p-2" id="cards" name="cards" #cards>      
            </div>
            <div class="p-4">
                <button *ngIf="checkIfGameStarted()" class="btn btn-sm btn-danger" (click)="turnOver()">Turn over</button>
            </div>
        </div>
    </div>
    
</div>